:root {
    
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    background-color: var(--body-background-color, #FAFAFA);
	word-wrap: break-word;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
}


@media (min-width: 992px) {
    body {
        overflow: hidden;
    }
}

pre {
    white-space: break-spaces;
}




.content-container {
    flex: 1 0 0;
}

@media (min-width: 992px) {
    .content-container {
        overflow: hidden; 
    }
}

.index-container {
    height: 40vw;
}

@media (min-width: 992px) {
    .index-container {
        height: 100%;
        max-width: 400px;
    }
}


@media (min-width: 992px) {
    .posts-container {
        height: 100%;
        overflow: auto;
    }
}

.index>ul {
    height: 40vh;
    overflow-y: scroll;
    scroll-behavior: auto;
}

.round-button {
    background-color: #f2f2ff;
    border:none;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#button-back-to-top {
    position: fixed;
    bottom: 5px;
    right: 5px;
}

#button-back-to-post {
    position: fixed;
    bottom: 50px;
    right: 5px;
    font-weight: 800;
}

.main-title {
    text-align: center;
    font-size: 3em;
}

.main-post {
    margin: 5px;
    background-color: #F1F1F1;
    padding: 10px;
    border: 1px gray solid;
    border-radius: 10px;
    margin-bottom: 15px;
}

.author {
    display: flex;
    align-items:center;
}

.author-image {
    overflow: hidden;
    display: inline-block;
}

.author-name {
    display: inline-block;
    font-weight: bold;
    margin-left: 15px;
}
.author-name .post-date-time {
     margin-left: 10px; 
    font-size: 10px;
     color: lightgray;     
}

.main-post>.author>.author-image {
	flex: 0 0 50px;
}

.main-post>.author>.author-image>img {
    width: 50px;
    border-radius: 25px;
}
.main-post .author {
    height: 50px;
}
.main-post .author .author-name {
    font-size: 2em;
}

@media (max-width:481px) {
	.main-post .author .author-name {
		font-size: 1.5em;
	}

}

.post>.author>.author-image>img {
    width: 40px;
    border-radius: 20px;
}

.post>.author>.author-name {
    font-size: 1.5em;
}

.post {
    max-width: 100%;  
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--post-background-color, white);
}

@media (min-width: 992px) {
    .main-post {
        max-width: 100%;  
    }
    .post {
        max-width: 100%; 
    }
}

@media (min-width: 1200px) {
    .main-post {
        max-width: 60%;  
    }
    .post { 
        max-width: 60%;  
    }
}

.post>.post-body p {
    margin-block-start: 0.3em;
    margin-block-end: 0.5em;    
}

.post>.post-controls {
    padding-top: 3px;
    border-top: 1px solid gray;
}

.post>.post-controls>.post-control-button {
    background-color: transparent;
    border: none;
    color:  darkorange;
    cursor: pointer;
}

.post-children {
    margin-left: 10px;
}

h1.thread-title {
    font-size: 1.5em;
    /*position: sticky;
    top: 0px;
    background: white;*/
}

.thread-controls {
    line-height: 0;
    transform: translateY(5px) rotate(0deg);
    transition: transform 0.5s;
    cursor: pointer;
    user-select: none;
}
.thread.collapsed .thread-controls {
    transform: translateY(5px) rotate(-90deg);
}

.thread-body {
    padding-left: 15px;
    border-left: 1px solid gray;
    margin-bottom: 25px;
    transition: height 0.5s;
}

.thread.collapsed .thread-body {
    height: 0;
    margin-bottom: 0;
    overflow: hidden;
}

.conversation-post {
    margin-bottom: 13px;
}

.conversation-post .author>.author-image>img {
    width: 30px;
    border-radius: 15px;
}

.conversation-post .author>.author-name {
    margin-left: 5px;
}

.conversation-post-body {
    font-size: 0.9em;
}

.conversation-post-body p {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}