:root {
    
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    background-color: var(--body-background-color, #FAFAFA);
	word-wrap: break-word;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
}

.hof-container {
    flex: 1 0 0;
    display: flex;
    overflow: auto;
    background-color: var(--body-background-color, #FAFAFA);
    flex-direction: row;
    padding: 30px;
    gap: 15px;
    flex-wrap: wrap;
}

.house-of-fun {
    width: 100%;
    height: 350px;
    overflow: auto;
    padding: 20px;
    border: 2px solid;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

@media (min-width: 768px) {
    .house-of-fun {
        width: calc((100% - 30px) / 3 - 7px);
    }
}

@media (min-width: 992px) {
    .house-of-fun {
        width: calc((100% - 30px) / 4 - 7px);
    }
}

@media (min-width: 1200px) {
    .house-of-fun {
        width: calc((100% - 30px) / 5 - 7px);
    }
}

@media (min-width: 2000px) {
    .house-of-fun {
        width: calc((100% - 30px) / 6 - 9px);
    }
}

.game-pages {
    flex: 1 0 0;
    overflow: auto;
}

#cos {
    background-color: #FFEBEE;
    border-color: #EF5350;
}

#dtrh {
    background-color: #FCE4EC;
    border-color: #EC407A;
}

#pgd {
    background-color: #E0F2F1;
    border-color: #26A69A;
}

#kotd {
    background-color: #EDE7F6;
    border-color: #7E57C2;
}

#tsc {
    background-color: #FBE9E7;
    border-color: #FF7043;
}

#ohmss {
    background-color: #FAFAFA;
    border-color: #BDBDBD;
}

#oops {
    background-color: #ECEFF1;
    border-color: #78909C;
}

#twr {
    background-color: #F3E5F5;
    border-color: #AB47BC;
}

#hdwy {
    background-color: #FFF3E0;
    border-color: #FFA726;
}

#afd {
    background-color: #E3F2FD;
    border-color: #42A5F5;
}

#tr {
    background-color: #F9FBE7;
    border-color: #D4E157;
}

#tle {
    background-color: #E0F7FA;
    border-color: #26C6DA;
}

#tle2 {
    background-color: #EFEBE9;
    border-color: #8D6E63;
}

#metr {
    background-color: #FFF8E1;
    border-color: #FFCA28;
}

#ca {
    background-color: #E8EAF6;
    border-color: #5C6BC0;
}

.round-button {
    background-color: #f2f2ff;
    border:none;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#button-back-to-top {
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.main-title {
    text-align: center;
    font-size: xxx-large;
}

.main-post {
    margin: 5px;
    background-color: #F1F1F1;
    padding: 10px;
    border: 1px gray solid;
    border-radius: 10px;
    margin-bottom: 15px;
}

.author {
    display: flex;
    align-items:center;
}

.author-image {
    overflow: hidden;
    display: inline-block;
}

.author-name {
    display: inline-block;
    font-weight: bold;
    margin-left: 15px;
}
.author-name .post-date-time {
     margin-left: 10px; 
    font-size: x-small;
     color: lightgray;     
}

.main-post>.author>.author-image>img {
    width: 50px;
    border-radius: 25px;
}
.main-post .author {
    height: 50px;
}
.main-post .author .author-name {
    font-size: 30pt;    
}


.post>.author>.author-image>img {
    width: 40px;
    border-radius: 20px;
}

.post>.author>.author-name {
    font-size: x-large;
}

.post {
    max-width: 70vw;  
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    background-color: var(--post-background-color, white);
}

.post>.post-body { 
}


.post>.post-body p {
    margin-block-start: 0.3em;
    margin-block-end: 0.5em;    
}

.post>.post-controls {
    padding-top: 3px;
    border-top: 1px solid gray;
}

.post>.post-controls>.post-control-button {
    background-color: transparent;
    border: none;
    color:  darkorange;
    cursor: pointer;
}

.post-children {
    margin-left: 10px;
}

h1.thread-title {
    font-size: 15pt;
    /*position: sticky;
    top: 0px;
    background: white;*/
}

.thread-controls {
    line-height: 0;
    transform: translateY(5px) rotate(0deg);
    transition: transform 0.5s;
    cursor: pointer;
    user-select: none;
}
.thread.collapsed .thread-controls {
    transform: translateY(5px) rotate(-90deg);
}

.thread-body {
    padding-left: 15px;
    border-left: 1px solid gray;
    margin-bottom: 25px;
    transition: height 0.5s;
}

.thread.collapsed .thread-body {
    height: 0;
    margin-bottom: 0;
    overflow: hidden;
}

.conversation-post {
    margin-bottom: 13px;
}

.conversation-post .author>.author-image>img {
    width: 30px;
    border-radius: 15px;
}

.conversation-post .author>.author-name {
    margin-left: 5px;
}

.conversation-post-body {
    font-size: smaller;
    max-width: 60vw;
}

.conversation-post-body p {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}